.boxSize {
    min-width: 50vw;
    margin: 20px;
    background-color: #FACE7F;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.minHeight {
    min-height: 200px;
}

.margin {
    margin: 10px 0 10px 5%;
}

.inputs {
    width: 90%;
}

.flexCol{
    flex-direction: column;
}

.container {
    display: flex;
    align-items: start;
    color: #911F27;
}

.item {
    margin: 10px 20px;
    border: 1px ghostwhite dotted;
    border-radius: 20px;
}