.addButton {
    align-self: start;
    background-color: #630A10;
    border-radius: 10px;
    border: none;
    color: #FCF0C8;
    font-size: 15px;
    padding: 10px;
    margin: 10px 0 10px 5%;
    text-align: center;
    transition-duration: 0.05s;
}


.addButton:hover{
    transform: scale(1.05);
    cursor: grab;
}

.addButton:active{
    background-color: #911F27;
}